@import url('https://fonts.googleapis.com/css?family=Alice|Nanum+Pen+Script|Titillium+Web|ABeeZee|Economica|Roboto+Mono');

/*

font-family: 'Alice', serif;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Titillium Web', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'ABeeZee', sans-serif;
font-family: 'Economica', sans-serif;

POTENTIAL COLORS
#8597A0
#788C96

#AE9DAA
#978192

url(../img/bkbd/blurred4.jpg) no-repeat center center fixed;

*/


html {
  background: #e9dccd;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body {
  margin: 0;
}

img{
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.textbox{
  margin: 30px;
  border-radius: 25px;
  background-color: rgb(230, 150, 154, .72);
  opacity: 0.5;
}

.paragraphtext{
font-family: 'ABeeZee', sans-serif;
font-size: 22px;
}

.view{
   display: block;
  margin-left: auto;
  margin-right: auto;
}

.view:active img{
  transform: scale(2) rotate(5deg);
  filter: alpha(opacity=30);
  opacity: 0.3;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.view img{
  left: 10px;
  margin-left: -10px;
  transition: all 0.6s ease-in-out;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
      box-shadow: 3px 5px 5px #a39d8a;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px #e6969a;
    padding: 20px;
    text-align: justify;
}


body{
  padding-top: 10px;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 75px;
}


header {
  width: 89.6%;
  padding: 0 10%;
  margin-bottom: 10px;
  margin-top: -10px;
  height: 50px;
  position: fixed;
  z-index: 10;
  background-color: rgba(227, 186, 179, 0.62);
  background: ;
}

header h1 {
  color: #36384c;
  display: inline-block;
  text-shadow: 3px 3px 5px #a1909f;
  margin: 0;
  margin-left: -100px;
  padding: 0;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 45px;
  line-height: 49px;
}

h2{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.name{
  color: #36384c;
  text-shadow: .5px 0px 27.5px #613a43;
  font-family: 'Nanum Pen Script', cursive;
  text-align: center;
  font-size: 60px;
  margin: 10px;
}


nav {
  float: right;
  display: inline-block;
}

nav ul {
  list-style-type: none;
  text-align-center;
  padding: 0;
  margin: 0;
  background-color: rgba(161, 144, 159, 0.02);
}

nav li {
  font-family: 'Economica', sans-serif;
  text-shadow: 2px 2px 5px #746772;
  font-size: 28px;
  height: 50px;
  line-height: 50px;
  width: 120px;
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: #464963;
  display: block;
  text-align: center;
  transition: all 1s;
}

nav a:hover {
  background-color: rgba(151, 165, 140, 0.62);
  color: #613a43;
}

nav a.active {
  background-color: rgba(103, 119, 91, 0.52);
  color: #3f4937;
}



.img{
  box-shadow: 10px 10px 19px #613a43;
}

/* image grid */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 5px;

  box-sizing: border-box;
}

.column img {
  margin-top: 50px;
  vertical-align: middle;
  margin-bottom: -35px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
   .modal-content {
        width: 100%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}





#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


#myImg1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg1:hover {opacity: 0.7;}


#myImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg2:hover {opacity: 0.7;}

#myImg3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg3:hover {opacity: 0.7;}

#myImg4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg4:hover {opacity: 0.7;}

#myImg5{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg5:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: center;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    box-shadow: none;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}


/* The Close Button */
.close {
    position: absolute;
    top: 50px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}


.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

